@font-face {font-family: "groovy-socicon";src: url("groovy-socicon.eot?jk3qnc");src: url("groovy-socicon.eot?jk3qnc#iefix") format("embedded-opentype"),url("groovy-socicon.ttf?jk3qnc") format("truetype"),url("groovy-socicon.woff?jk3qnc") format("woff"),url("groovy-socicon.svg?jk3qnc#icomoon1") format("svg");font-weight: normal;font-style: normal;}
[class^="groovy-socicon"], [class*=" groovy-socicon"] {font-family: "groovy-socicon";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;letter-spacing: 0;-webkit-font-feature-settings: "liga";-moz-font-feature-settings: "liga=1";-moz-font-feature-settings: "liga";-ms-font-feature-settings: "liga" 1;-o-font-feature-settings: "liga";font-feature-settings: "liga";-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.groovy-socicon-eitaa:before {content: "";}
.groovy-socicon-soroush:before {content: "";}
.groovy-socicon-bale:before {content: "";}
.groovy-socicon-zazzle:before {content: "";}
.groovy-socicon-society6:before {content: "";}
.groovy-socicon-redbubble:before {content: "";}
.groovy-socicon-avvo:before {content: "";}
.groovy-socicon-stitcher:before {content: "";}
.groovy-socicon-google:before {content: "";}
.groovy-socicon-dlive:before {content: "";}
.groovy-socicon-vsco:before {content: "";}
.groovy-socicon-flipboard:before {content: "";}
.groovy-socicon-ubuntu:before {content: "";}
.groovy-socicon-artstation:before {content: "";}
.groovy-socicon-invision:before {content: "";}
.groovy-socicon-torial:before {content: "";}
.groovy-socicon-collectorz:before {content: "";}
.groovy-socicon-seenthis:before {content: "";}
.groovy-socicon-google_play_music:before {content: "";}
.groovy-socicon-debian:before {content: "";}
.groovy-socicon-filmfreeway:before {content: "";}
.groovy-socicon-gnome:before {content: "";}
.groovy-socicon-itchio:before {content: "";}
.groovy-socicon-jamendo:before {content: "";}
.groovy-socicon-mix:before {content: "";}
.groovy-socicon-sharepoint:before {content: "";}
.groovy-socicon-tinder:before {content: "";}
.groovy-socicon-windguru:before {content: "";}
.groovy-socicon-cd_baby:before {content: "";}
.groovy-socicon-elementary_os:before {content: "";}
.groovy-socicon-stage32:before {content: "";}
.groovy-socicon-tiktok:before {content: "";}
.groovy-socicon-gitter:before {content: "";}
.groovy-socicon-letterboxd:before {content: "";}
.groovy-socicon-threema:before {content: "";}
.groovy-socicon-splice:before {content: "";}
.groovy-socicon-metapop:before {content: "";}
.groovy-socicon-naver:before {content: "";}
.groovy-socicon-remote:before {content: "";}
.groovy-socicon-internet:before {content: "";}
.groovy-socicon-moddb:before {content: "";}
.groovy-socicon-indiedb:before {content: "";}
.groovy-socicon-traxsource:before {content: "";}
.groovy-socicon-gamefor:before {content: "";}
.groovy-socicon-pixiv:before {content: "";}
.groovy-socicon-myanimelist:before {content: "";}
.groovy-socicon-blackberry:before {content: "";}
.groovy-socicon-wickr:before {content: "";}
.groovy-socicon-spip:before {content: "";}
.groovy-socicon-napster:before {content: "";}
.groovy-socicon-beatport:before {content: "";}
.groovy-socicon-hackerone:before {content: "";}
.groovy-socicon-hackernews:before {content: "";}
.groovy-socicon-smashwords:before {content: "";}
.groovy-socicon-kobo:before {content: "";}
.groovy-socicon-bookbub:before {content: "";}
.groovy-socicon-mailru:before {content: "";}
.groovy-socicon-gitlab:before {content: "";}
.groovy-socicon-instructables:before {content: "";}
.groovy-socicon-portfolio:before {content: "";}
.groovy-socicon-codered:before {content: "";}
.groovy-socicon-origin:before {content: "";}
.groovy-socicon-nextdoor:before {content: "";}
.groovy-socicon-udemy:before {content: "";}
.groovy-socicon-livemaster:before {content: "";}
.groovy-socicon-crunchbase:before {content: "";}
.groovy-socicon-homefy:before {content: "";}
.groovy-socicon-calendly:before {content: "";}
.groovy-socicon-realtor:before {content: "";}
.groovy-socicon-tidal:before {content: "";}
.groovy-socicon-qobuz:before {content: "";}
.groovy-socicon-natgeo:before {content: "";}
.groovy-socicon-mastodon:before {content: "";}
.groovy-socicon-unsplash:before {content: "";}
.groovy-socicon-homeadvisor:before {content: "";}
.groovy-socicon-angieslist:before {content: "";}
.groovy-socicon-codepen:before {content: "";}
.groovy-socicon-slack:before {content: "";}
.groovy-socicon-openaigym:before {content: "";}
.groovy-socicon-logmein:before {content: "";}
.groovy-socicon-fiverr:before {content: "";}
.groovy-socicon-gotomeeting:before {content: "";}
.groovy-socicon-aliexpress:before {content: "";}
.groovy-socicon-guru:before {content: "";}
.groovy-socicon-appstore:before {content: "";}
.groovy-socicon-homes:before {content: "";}
.groovy-socicon-zoom:before {content: "";}
.groovy-socicon-alibaba:before {content: "";}
.groovy-socicon-craigslist:before {content: "";}
.groovy-socicon-wix:before {content: "";}
.groovy-socicon-redfin:before {content: "";}
.groovy-socicon-googlecalendar:before {content: "";}
.groovy-socicon-shopify:before {content: "";}
.groovy-socicon-freelancer:before {content: "";}
.groovy-socicon-seedrs:before {content: "";}
.groovy-socicon-bing:before {content: "";}
.groovy-socicon-doodle:before {content: "";}
.groovy-socicon-bonanza:before {content: "";}
.groovy-socicon-squarespace:before {content: "";}
.groovy-socicon-toptal:before {content: "";}
.groovy-socicon-gust:before {content: "";}
.groovy-socicon-ask:before {content: "";}
.groovy-socicon-trulia:before {content: "";}
.groovy-socicon-calendy loomly:before {content: "";}
.groovy-socicon-ghost:before {content: "";}
.groovy-socicon-upwork:before {content: "";}
.groovy-socicon-fundable:before {content: "";}
.groovy-socicon-booking:before {content: "";}
.groovy-socicon-googlemaps:before {content: "";}
.groovy-socicon-zillow:before {content: "";}
.groovy-socicon-niconico:before {content: "";}
.groovy-socicon-toneden:before {content: "";}
.groovy-socicon-augment:before {content: "";}
.groovy-socicon-bitbucket:before {content: "";}
.groovy-socicon-fyuse:before {content: "";}
.groovy-socicon-youtube gaming:before {content: "";}
.groovy-socicon-sketchfab:before {content: "";}
.groovy-socicon-mobcrush:before {content: "";}
.groovy-socicon-microsoft:before {content: "";}
.groovy-socicon-pandora:before {content: "";}
.groovy-socicon-facebook messenger:before {content: "";}
.groovy-socicon-gamewisp:before {content: "";}
.groovy-socicon-bloglovin:before {content: "";}
.groovy-socicon-tunein:before {content: "";}
.groovy-socicon-gamejolt:before {content: "";}
.groovy-socicon-trello:before {content: "";}
.groovy-socicon-spreadshirt:before {content: "";}
.groovy-socicon-500px:before {content: "";}
.groovy-socicon-8tracks:before {content: "";}
.groovy-socicon-airbnb:before {content: "";}
.groovy-socicon-alliance:before {content: "";}
.groovy-socicon-amazon:before {content: "";}
.groovy-socicon-amplement:before {content: "";}
.groovy-socicon-android:before {content: "";}
.groovy-socicon-angellist:before {content: "";}
.groovy-socicon-apple:before {content: "";}
.groovy-socicon-appnet:before {content: "";}
.groovy-socicon-baidu:before {content: "";}
.groovy-socicon-bandcamp:before {content: "";}
.groovy-socicon-battlenet:before {content: "";}
.groovy-socicon-beam mixer:before {content: "";}
.groovy-socicon-bebee:before {content: "";}
.groovy-socicon-bebo:before {content: "";}
.groovy-socicon-behance:before {content: "";}
.groovy-socicon-blizzard:before {content: "";}
.groovy-socicon-blogger:before {content: "";}
.groovy-socicon-buffer:before {content: "";}
.groovy-socicon-chrome:before {content: "";}
.groovy-socicon-coderwall:before {content: "";}
.groovy-socicon-curse:before {content: "";}
.groovy-socicon-dailymotion:before {content: "";}
.groovy-socicon-deezer:before {content: "";}
.groovy-socicon-delicious:before {content: "";}
.groovy-socicon-deviantart:before {content: "";}
.groovy-socicon-diablo:before {content: "";}
.groovy-socicon-digg:before {content: "";}
.groovy-socicon-discord:before {content: "";}
.groovy-socicon-disqus:before {content: "";}
.groovy-socicon-douban:before {content: "";}
.groovy-socicon-draugiem:before {content: "";}
.groovy-socicon-dribbble:before {content: "";}
.groovy-socicon-drupal:before {content: "";}
.groovy-socicon-ebay:before {content: "";}
.groovy-socicon-ello:before {content: "";}
.groovy-socicon-endomodo:before {content: "";}
.groovy-socicon-envato:before {content: "";}
.groovy-socicon-etsy:before {content: "";}
.groovy-socicon-facebook:before {content: "";}
.groovy-socicon-feedburner:before {content: "";}
.groovy-socicon-filmweb:before {content: "";}
.groovy-socicon-firefox:before {content: "";}
.groovy-socicon-flattr:before {content: "";}
.groovy-socicon-flickr:before {content: "";}
.groovy-socicon-formulr:before {content: "";}
.groovy-socicon-forrst:before {content: "";}
.groovy-socicon-foursquare:before {content: "";}
.groovy-socicon-friendfeed:before {content: "";}
.groovy-socicon-github:before {content: "";}
.groovy-socicon-goodreads:before {content: "";}
.groovy-socicon-google:before {content: "";}
.groovy-socicon-google-scholar:before {content: "";}
.groovy-socicon-googlegroups:before {content: "";}
.groovy-socicon-googlephotos:before {content: "";}
.groovy-socicon-googleplus:before {content: "";}
.groovy-socicon-grooveshark:before {content: "";}
.groovy-socicon-hackerrank:before {content: "";}
.groovy-socicon-hearthstone:before {content: "";}
.groovy-socicon-hellocoton:before {content: "";}
.groovy-socicon-heroes:before {content: "";}
.groovy-socicon-hitbox smashcast:before {content: "";}
.groovy-socicon-horde:before {content: "";}
.groovy-socicon-houzz:before {content: "";}
.groovy-socicon-icq:before {content: "";}
.groovy-socicon-identica:before {content: "";}
.groovy-socicon-imdb:before {content: "";}
.groovy-socicon-instagram:before {content: "";}
.groovy-socicon-issuu:before {content: "";}
.groovy-socicon-istock:before {content: "";}
.groovy-socicon-itunes:before {content: "";}
.groovy-socicon-keybase:before {content: "";}
.groovy-socicon-lanyrd:before {content: "";}
.groovy-socicon-lastfm:before {content: "";}
.groovy-socicon-line:before {content: "";}
.groovy-socicon-linkedin:before {content: "";}
.groovy-socicon-livejournal:before {content: "";}
.groovy-socicon-lyft:before {content: "";}
.groovy-socicon-macos:before {content: "";}
.groovy-socicon-mail:before {content: "";}
.groovy-socicon-medium:before {content: "";}
.groovy-socicon-meetup:before {content: "";}
.groovy-socicon-mixcloud:before {content: "";}
.groovy-socicon-modelmayhem:before {content: "";}
.groovy-socicon-mumble:before {content: "";}
.groovy-socicon-myspace:before {content: "";}
.groovy-socicon-newsvine:before {content: "";}
.groovy-socicon-nintendo:before {content: "";}
.groovy-socicon-npm:before {content: "";}
.groovy-socicon-odnoklassniki:before {content: "";}
.groovy-socicon-openid:before {content: "";}
.groovy-socicon-opera:before {content: "";}
.groovy-socicon-outlook:before {content: "";}
.groovy-socicon-overwatch:before {content: "";}
.groovy-socicon-patreon:before {content: "";}
.groovy-socicon-paypal:before {content: "";}
.groovy-socicon-periscope:before {content: "";}
.groovy-socicon-persona:before {content: "";}
.groovy-socicon-pinterest:before {content: "";}
.groovy-socicon-play:before {content: "";}
.groovy-socicon-player:before {content: "";}
.groovy-socicon-playstation:before {content: "";}
.groovy-socicon-pocket:before {content: "";}
.groovy-socicon-qq:before {content: "";}
.groovy-socicon-quora:before {content: "";}
.groovy-socicon-raidcall:before {content: "";}
.groovy-socicon-ravelry:before {content: "";}
.groovy-socicon-reddit:before {content: "";}
.groovy-socicon-renren:before {content: "";}
.groovy-socicon-researchgate:before {content: "";}
.groovy-socicon-residentadvisor:before {content: "";}
.groovy-socicon-reverbnation:before {content: "";}
.groovy-socicon-rss:before {content: "";}
.groovy-socicon-sharethis:before {content: "";}
.groovy-socicon-skype:before {content: "";}
.groovy-socicon-slideshare:before {content: "";}
.groovy-socicon-smugmug:before {content: "";}
.groovy-socicon-snapchat:before {content: "";}
.groovy-socicon-songkick:before {content: "";}
.groovy-socicon-soundcloud:before {content: "";}
.groovy-socicon-spotify:before {content: "";}
.groovy-socicon-stackexchange:before {content: "";}
.groovy-socicon-stackoverflow:before {content: "";}
.groovy-socicon-starcraft:before {content: "";}
.groovy-socicon-stayfriends:before {content: "";}
.groovy-socicon-steam:before {content: "";}
.groovy-socicon-storehouse:before {content: "";}
.groovy-socicon-strava:before {content: "";}
.groovy-socicon-streamjar:before {content: "";}
.groovy-socicon-stumbleupon:before {content: "";}
.groovy-socicon-swarm:before {content: "";}
.groovy-socicon-teamspeak:before {content: "";}
.groovy-socicon-teamviewer:before {content: "";}
.groovy-socicon-technorati:before {content: "";}
.groovy-socicon-telegram:before {content: "";}
.groovy-socicon-tripadvisor:before {content: "";}
.groovy-socicon-tripit:before {content: "";}
.groovy-socicon-triplej:before {content: "";}
.groovy-socicon-tumblr:before {content: "";}
.groovy-socicon-twitch:before {content: "";}
.groovy-socicon-twitter:before {content: "";}
.groovy-socicon-uber:before {content: "";}
.groovy-socicon-ventrilo:before {content: "";}
.groovy-socicon-viadeo:before {content: "";}
.groovy-socicon-viber:before {content: "";}
.groovy-socicon-viewbug:before {content: "";}
.groovy-socicon-vimeo:before {content: "";}
.groovy-socicon-vine:before {content: "";}
.groovy-socicon-vkontakte:before {content: "";}
.groovy-socicon-warcraft:before {content: "";}
.groovy-socicon-wechat:before {content: "";}
.groovy-socicon-weibo:before {content: "";}
.groovy-socicon-whatsapp:before {content: "";}
.groovy-socicon-wikipedia:before {content: "";}
.groovy-socicon-windows:before {content: "";}
.groovy-socicon-wordpress:before {content: "";}
.groovy-socicon-wykop:before {content: "";}
.groovy-socicon-xbox:before {content: "";}
.groovy-socicon-xing:before {content: "";}
.groovy-socicon-yahoo:before {content: "";}
.groovy-socicon-yammer:before {content: "";}
.groovy-socicon-yandex:before {content: "";}
.groovy-socicon-yelp:before {content: "";}
.groovy-socicon-younow:before {content: "";}
.groovy-socicon-youtube:before {content: "";}
.groovy-socicon-zapier:before {content: "";}
.groovy-socicon-zerply:before {content: "";}
.groovy-socicon-zomato:before {content: "";}
.groovy-socicon-zynga:before {content: "";}